<div class="acasa">
    <button onclick="hs1()">1.Ce este acest site?</button>
<p id="hs1">Acest site a fost creat pentru a ajuta elevii de la profil tehnic sa promoveze examenul de bacalaureat la matematica.</p>
</br>
<button onclick="hs2()">2.Ce este examenul de bacalaureat?</button>
<p id="hs2">Bacalaureatul este un examen care se susține la absolvirea liceului, la mai multe discipline de învățământ. Promovarea Bacalaureatului înseamnă încheierea unui ciclu de pregătire.</br>Mai multe detalii despre bacalaureatul romanesc puteti gasi <a href=https://ro.wikipedia.org/wiki/Bacalaureatul_românesc>aici</a>.</p>
</br>
<button onclick="hs3()">3.Ce inseamna profil tehnic?</button>
<p id="hs3">Profilul tehnic reprezinta specializarea pe care o pot avea clasele de liceu. Elevii ce apartin acestor clase dau bacul la matematica la nivel M2 Tehnologic, adica exercitiile la bac sunt mai usoare pentru ei comparativ cu cei de la alte profile(ex:stiinte,mate-info).</br>
Pentru mai multe detalii privind profilele si programa la matematica pentru aceste profile gasiti <a href=https://liceunet.ro/bacalaureat/matematica/programa>aici</a>.</p>
</br>
<button onclick="hs4()">4.Cum este structurat bacul la matematica?</button>
<p id="hs4">Examenul de bacalaureat este structurat pe 3 parti:Subiectul I,Subiectul II si Subiectul III.Subiectul I contine 6 exercitii din materia de V-XII, fiecare subiect valorand 5 puncte.Subiectele II si III contin cate 2 exercitii.
    Primul din exercitii este din materia de clasa a XI-a, iar cel de-al doilea din materia de clasa a XII-a.
Fiecare exercitiu are cate 3 subpuncte(a,b,c), fiecare subpunct valorand 5 puncte.</br>Un exemplu de subiect la matematica gasiti <a href=https://cdn.edupedu.ro/wp-content/uploads/2019/06/E_c_matematica_M_tehnologic_2019_var_model_LRO.pdf>aici</a>.</p>
</br>
<button onclick="hs5()">5.Cum pot sa obtin usor nota 5 la bac la matematica si sa trec examenul?</button>
<p id="hs5">Concentrandu-ne foarte mult pe 2 subiecte si facand foarte multe exercitii de acel tip. Daca ne concentram exclusiv pe 2 subiecte care ni se par mai usoare avem sanse foarte mari sa promovam examenul deoarece fiecare Subiect valoreaza 30 de puncte si din oficiu primim 10 puncte(30+30+10=70).
    Daca ne concentram pe 2 subiecte avem sanse nu doar sa trecem examenul dar si sa obtinem o nota decenta.
</p>
</br>
<button onclick="hs6()">6.Ce ramane de facut?</button>
<p id="hs6">Urmeaza acest site si fa cat mai multe exercitii de la 2 subiecte care ti se par tie mai usoare.</p>
<h1 class="incurajare">Spor la treaba si succes la examen!</h1>
</div>

