<h1 class="incurajare">Si tu poti trece bacul la matematica!</h1>
<p>Subiectul II contine 2 exercitii. Pentru ca sa rezolvi aceste exercitii trebuie sa inveti doar cateva lucruri: matrici, determinanti, grupuri si polinoame.</p>
<h1>1.Matrici</h1>
<iframe width="890" height="668" src="https://www.youtube.com/embed/rIrb2IWAbFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>2.Determinanti</h1>
<iframe width="890" height="668" src="https://www.youtube.com/embed/R3jZHT_QMj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>3.Grupuri</h1>
<iframe width="890" height="501" src="https://www.youtube.com/embed/yk3tVKzdB2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>4.Polinoame</h1>
<iframe width="890" height="668" src="https://www.youtube.com/embed/oNl6F4DVVcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
