<h1 class="incurajare">Si tu poti trece bacul la matematica!</h1>
<p>Subiectul III contine 2 exercitii. Pentru ca sa rezolvi aceste exercitii trebuie sa inveti doar cateva lucruri:derivate, integrale si asimptote.</p>
<h1>1.Derivate</h1>
<iframe width="890" height="668" src="https://www.youtube.com/embed/IE5BZrN55g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>2.Integrale</h1>
<iframe width="890" height="501" src="https://www.youtube.com/embed/hX3JMApdx-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>3.Asimptote</h1>
<iframe width="890" height="501" src="https://www.youtube.com/embed/I0Bl0HVEVDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>