<h1 class="incurajare">Si tu poti trece bacul la matematica!</h1>
<p>La Subiectul I sunt cateva modele de exercitii care se tot repeta. Exersandu-le cat mai mult vei obtine un punctaj mare.</p>
<h1>Model Subiectul I</h1>
<iframe width="890" height="501" src="https://www.youtube.com/embed/MHWcUKEs8Bo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>